<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3>{{graficos.grafico1.leyenda}}</h3>
                <app-grafico-dona [doughnutChartData]="graficos.grafico1.data" [doughnutChartLabels]="graficos.grafico1.labels" [doughnutChartType]="graficos.grafico1.type"></app-grafico-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3>{{graficos.grafico2.leyenda}}</h3>
                <app-grafico-dona [doughnutChartData]="graficos.grafico2.data" [doughnutChartLabels]="graficos.grafico2.labels" [doughnutChartType]="graficos.grafico2.type"></app-grafico-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3>{{graficos.grafico3.leyenda}}</h3>
                <app-grafico-dona [doughnutChartData]="graficos.grafico3.data" [doughnutChartLabels]="graficos.grafico3.labels" [doughnutChartType]="graficos.grafico3.type"></app-grafico-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3>{{graficos.grafico4.leyenda}}</h3>
                <app-grafico-dona [doughnutChartData]="graficos.grafico4.data" [doughnutChartLabels]="graficos.grafico4.labels" [doughnutChartType]="graficos.grafico4.type"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>